* ::after, ::before{
  box-sizing: border-box;

  min-height: calc(100vh - 3px);

  
 
}

:root {
  --theme-color: rgba(95, 0, 217, 1);
  --theme-color-hover: rgb(111, 31, 216);
  --text-color:rgba(121, 126, 130, 1);

 



@media (min-width:475px) {
  button{
   font-size: 12px; 
  }
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.2rem;
  }
  
 }

  @media (min-width:984px) {
    button{
     font-size: 16px; 
    }
    h2{
      font-size: 25px;
    }
    p{
      font-size: 16px;
    }
    
   }
  
  }